{% extends "app_base.html" %}
{% block content %}
<h3>Auction Details</h3>
{% if item %}
 <div class="ainfo">
	{% for key in item %}
		<div>
			<label >{{ key|e }}</label>
			<span>{{ item[key]|e }}</span>
		</div>
  	{% endfor %}
 </div>
 <div class="info">
 	<div>
 	<label> Category: </label>
	{% for category in categories %}
		{% for key in category %}
			<span>{{ category[key]|e }} <b>|</b> </span>
	  	{% endfor %}
  	{% endfor %}
    </div>
	<div>
  	<label> Status: </label> 
	{% if open %}
		Open until {{ item['Ends']|e }}
	{% else %}
		Closed
		{% if winner %}
			[ Winner is <label>{{ winner|e }}</label> ]
		{% else %}
			at {{ item['Ends']|e}}
		{% endif%}
  	{% endif %}
  	</div>
 </div>

{% endblock %}